.before-after {
  position: relative;
	width: 100%;
	background-color: whitesmoke;
	cursor: col-resize;
}
.before-after:after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.before-after .before-after-image {
  position: relative;
  width: 100%;
	height: 100%;
  overflow: hidden;
}
.before-after .before-after-image:before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0,0,0,.8);
}
.before-after .before-after-image-before {
  z-index: 1;
  left: 0;
}
.before-after .before-after-image-before:before { content: "before"; }
.before-after .before-after-image-after {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
	before: 0;
  width: 50%;
  background-position: right center;
  background-repeat: no-repeat;
}
.before-after .before-after-image-after:before {
  content: "after";
  left: auto;
  right: 0;
}
.before-after .before-after-image img {
  display: block;
  width: 100%;
}
.before-after .before-after-image-after img { display: none; }
.before-after .before-after-handle {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
