/* fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

/* global */
html,body,h1,h2,h3,h4,h5,h6,p {
	font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a:hover { text-decoration: none; }

.container { max-width: 800px; }

/* primary action button */
.action {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ff9800;
	border: 1px solid #fe9700;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	position: fixed;
	right: 10%;
	bottom: 10%;
	z-index: 10;
	text-align: center;
}
.action a { color: #fff; }
.action span { padding: 14px 0; font-size: 24px; }

@media (max-width: 768px) {
	.action { bottom: 5%; }
}

/* header */
header {
	background-color: #00bcd4;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	color: #fff;
	height: 250px;
	z-index: 9;
}
header .titlebar.mini {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
header .titlebar {
	display: none;
	background-color: #00bcd4;
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
}
header .titlebar h1 {
	font-size: 28px;
	line-height: 50px;
	padding: 0;
	margin: 0;
	top: 0;
	position: absolute;
}
header > .container > h1 {
	font-weight: 400;
	position: absolute;
	font-size: 50px;
	line-height: 50px;
	top: 135px;
	padding: 0;
	margin: 0;
}

/* Main */
main { margin-top: 250px; padding-bottom: 50px; }
main .byline { background-color: whitesmoke; padding: 20px 0; }
main .byline p { margin: 0; padding: 0; }
main > .container h2.page-header { font-weight: 300; color: #00bcd4; border: none; }

/* Footer */
footer {
	background-color: #e0f7fa;
	padding: 30px 0;
	margin: 30px 0 0 0;
}

/* Code Coloring */
.c { color: #999; }
.nt { color: #2f6f9f; }
.na { color: #4f9fcf; }
.s { color: #d44950; }