/* fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

/* global */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p { font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif; }

a:hover { text-decoration: none; }

.container { max-width: 800px; }

/* primary action button */
.action {
  position: fixed;
  z-index: 10;
	right: 10%;
	bottom: 10%;
	width: 60px;
	height: 60px;
  text-align: center;
	border-radius: 50%;
  border: 1px solid #fe9700;
	background-color: #ff9800;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.action a { color: #fff; }
.action span {
  padding: 14px 0;
  font-size: 24px;
}

@media (max-width: 768px) {
	.action { bottom: 5%; }
}

/* header */
header {

	position: absolute;
  z-index: 9;
	top: 0;
	right: 0;
	left: 0;
  height: 250px;
	color: #fff;
  background-color: #00bcd4;
}
header .titlebar.mini { box-shadow: 0px 1px 3px rgba(0,0,0,0.4); }
header .titlebar {
  position: fixed;
  top: 0;
	right: 0;
	left: 0;
	display: none;
  width: 100%;
  height: 50px;
	background-color: #00bcd4;
}
header .titlebar h1 {
	position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 28px;
	line-height: 50px;
}
header > .container > h1 {
	position: absolute;
  top: 135px;
  margin: 0;
  padding: 0;
	font-size: 50px;
  font-weight: 400;
	line-height: 50px;
}

/* Main */
main {
  margin-top: 250px;
  padding-bottom: 50px;
}
main .byline {
  padding: 20px 0;
  background-color: whitesmoke;
}
main .byline p {
  margin: 0;
  padding: 0;
}
main > .container h2.page-header {
  font-weight: 300;
  color: #00bcd4;
  border: none;
}

/* Footer */
footer {
  margin: 30px 0 0 0;
	padding: 30px 0;
	background-color: #e0f7fa;
}

/* Code Coloring */
.c { color: #999; }
.nt { color: #2f6f9f; }
.na { color: #4f9fcf; }
.s { color: #d44950; }

/* Button */
.btn-link {
	color: #ff9800;
	text-transform: uppercase;
}
.btn-link:hover {
	color: #ff9800;
	text-decoration: none;
}
